$black: #282c34;

html,body,#root{
  height: 100%;
}

.App {
  justify-content: center;
  color: white;
}

.Request {
  flex: 3;
  text-align: left;
  overflow: hidden;
}

.ui.menu{
  margin: 0 !important;
  border-radius: 0 !important;
}

.ui.inverted.segment{
  padding: 0 !important;
  height: 100%;
}
