$black: #282c34;

html,body{
  height: 100%;
  background: $black;
}

.App {
  text-align: center;
  background-color: $black;
  display: flex;
  justify-content: center;
  color: white;
}

.Request {
  flex: 3;
  text-align: left;
  overflow: hidden;
}
