<p class='body'>
  Inspect RESTful http requests
</p>
<a class='new' href='/appointments/create' rel='nofollow'>Create a new RESTful link</a>
<h2>Features</h2>
<ul class='body'>
  <li>Inspect inbound HTTP requests.</li>
  <li>Proxy requests to localhost.</li>
  <li>Inspect webhooks locally.</li>
  <li>Resend requests to localhost.</li>
</ul>

<div class='recent js-recent'>
  <h2>Recent RESTful links</h2>
</div>

<footer>
<p>{{len}} requests captured since February 28, 2015.</p>
<p>by <a href='https://twitter.com/jshawl'>@jshawl</a></p>
</footer>
