<input value='http://{{data.host}}/{{data._id}}' class='copy'>
<input type='checkbox' id='proxy'><label for='proxy'> Proxy to localhost? </label>
<div class='show-if-proxy'>
<br><br>
http://localhost:<input type='text' placeholder='Enter Port and/or path' id='port'>
<button class='js-test-connection'>Test Connection</button>
<div class='js-connection-result connection-result'> </div>
</div>
<div class='requests'>
{{#each data.requests}}
  {{> request}}
{{/each}}
<h2>JavaScript <small>(using jQuery)</small></h2>
<div class='cf'>
<pre class='left js-try-it-code' contenteditable="true">
$.ajax({
  type: "POST",
  url: "http://{{data.host}}/{{data._id}}",
  data: { 
    language: 'javascript', 
    method: 'POST',
    time: new Date()
  },
  success: function( res ){
     console.log( res );
  }
});
</pre>
</div>
<a href='#' class='try-it js-try-it'><span>⤿</span> Try it!</a>
<h2>cURL</h2>
<div class='cf'>
<pre class='left'>
$ curl -X POST -d "shop[name]=Supermarket&shop[products][]=fruit&shop[products][]=eggs" http://{{data.host}}/{{data._id}}
</pre>
<pre class='left'>
$ curl -X PATCH -d "this=is&so=cool" http://{{data.host}}/{{data._id}}
</pre>
<pre class='left'>
$ curl -X PUT -d "this=is&so=cool" http://{{data.host}}/{{data._id}}
</pre>
<pre class='left'>
$ curl -X DELETE http://{{data.host}}/{{data._id}}
</pre>
</div>
</div>
