*{
  box-sizing:border-box;
}

body{
  font-family:'Inconsolata', monospace;
  margin:auto;
  padding:2em;
}

h1, h2, h3{
   font-family:'Helvetica Neue', sans-serif;
   letter-spacing:-.05em;
}

header a{
   font-weight:bold; 
   font-family:'Helvetica Neue', sans-serif;
   font-size:2em;
   text-decoration:none;
   color:inherit;
   letter-spacing:-2px;
}

.recent{
  display:none;
}

.recent-link{
  display:block;
  padding:1em 2em;
  margin-bottom:1em;
  color:inherit;
  text-decoration:none;
  border:1px solid #eee;
}

header{
  padding:2em 0;
}

.headers,
.payload{
  float:left; 
  width:50%;
  word-wrap: break-word;
  overflow:scroll;
  max-height:600px;
}


.headers{
  padding-right:1em;
}
.payload{
  padding-left:1em;
}
@media all and (max-width:30em){
  .headers,
  .payload{
    float:none;
    width:100%;
    padding:0;
  }
  .meta abbr{
    margin-top:.5em;
    display:block;
  }
}

.request{
  border:1px solid #eee;
  margin-top:2em;
  border-radius:3px;
  padding:1em;
}

.body{
  font-size:1.5em;
}

.copy{
  padding:.5em 1em;
  font:inherit;
  font-size:1.5em;
  display:block;
  width:100%;
}

.meta{
  background:#eee;
  margin-left:-1em;
  margin-right:-1em;
  margin-top:-1em;
  padding:1em;
}

.meta strong{
  text-transform:uppercase;
}

.request:after{
  content:' ';
  display:table;
  clear:both;
}

pre{
  border:1px solid #ddd;
  background: #fafafa;
  border-radius:3px;
  padding:1em;
  overflow:scroll;
  font:inherit;
}

.new, .try-it{
  background:limegreen;
  color:#fff;
  padding:1em 2em;
  text-decoration:none;
  font-weight:bold;
  display:inline-block;
  font-size:1.25em;
  margin:1em 0;
  text-shadow:1px 1px  0 #647b1b;
}

.try-it{
  
}
