*{
  box-sizing:border-box;
}

body{
  font-family:'Monaco';
  margin:auto;
  padding:2em;
}

header a{
   font-weight:bold; 
   font-family:'Helvetica Neue', sans-serif;
   font-size:2em;
   text-decoration:none;
   color:inherit;
   letter-spacing:-2px;
}

header{
  padding:2em 0;
}

.headers,
.payload{
  float:left; 
  width:50%;
  word-wrap: break-word;
  overflow:scroll;
  max-height:600px;
}

.headers{
  padding-right:1em;
}
.payload{
  padding-left:1em;
}

.request{
  border:1px solid #eee;
  margin-top:2em;
  border-radius:3px;
  padding:1em;
}

.copy{
  padding:.5em 1em;
  width:50%;
  display:inline-block;
}

.meta{
  background:#eee;
  margin-left:-1em;
  margin-right:-1em;
  margin-top:-1em;
  padding:1em;
}

.request:after{
  content:' ';
  display:table;
  clear:both;
}

pre{
  border:1px solid #ddd;
  background: #eee;
  padding:1em;
}
