html,
body {
  font-family: monospace;
}

pre {
  border: 1px solid #ccc;
}

.language-bash {
  position: relative;
  padding-left: 2rem !important;
}

.language-bash:before {
  content: "$ ";
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
