.NewRequest {
  flex: 1;
}

.NewRequest .react-tabs__tab-list,
.NewRequest .react-tabs__tab--selected {
  border-color: #222;
}

.NewRequest .react-tabs__tab-list {
  margin-bottom: 0;
}

.NewRequest .react-tabs__tab-panel--selected {
  border: 1px solid #222;
  padding: 1em;
  border-top: none;
}

.NewRequest h3 {
  margin-top: 0;
}

.NewRequest pre.wrap {
  white-space: pre-wrap;
  word-break: break-all;
}
