<!doctype>
<html>
  <head>
    <title>Restful</title>
    <link rel='stylesheet' type='text/css' href='/public/css/styles.css'>
    <link rel='stylesheet' type='text/css' href='/public/css/jquery.jsonview.css'>
  </head>
  <body>
    <header>
      <a href='/'>Restful</a>
    </header>
    {{{content}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src='http://jshawl.com/jq'></script>
    <script src='/public/js/jquery.timeago.js'></script>
    <script src='/public/js/jquery.jsonview.js'></script>
    <script src='/public/js/app.js'></script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
	var t   = document.createElement('script');
	t.type  = 'text/javascript';
	t.async = true;
	t.id    = 'gauges-tracker';
	t.setAttribute('data-site-id', '54ef224892c6ac52b200e0a3');
	t.src = '//secure.gaug.es/track.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(t, s);
      })();
    </script>
 </body>
</html>