<!doctype>
<html>
  <head>
    <title>Hook Clinic</title>
    <link rel='stylesheet' type='text/css' href='/public/css/styles.css'>
    <link rel='stylesheet' type='text/css' href='/public/css/jquery.jsonview.css'>
  </head>
  <body>
    <header>
      <a href='/'>Hook Clinic</a>
    </header>
    {{{content}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src='http://jshawl.com/jq'></script>
    <script src='/public/js/jquery.timeago.js'></script>
    <script src='/public/js/jquery.jsonview.js'></script>
    <script src='/public/js/app.js'></script>
 </body>
</html>