.NewRequest {
  flex: 1;
  script {
    
    color: black;
    padding:1em;
    margin:0;
    white-space: pre;
    margin-bottom: 1em;
  }
  pre{
    
    padding: .25em;
  }
  script, pre{
    font-size: .8rem;
    border: 1px solid #ebebeb;
    border-radius: 3px;
  }
  pre.bash{
    position: relative;
    &:before{
      content: '$ ';
    }
  }
  h3{
    margin-top: 0;
  }

  button{
    background-color: limegreen;
    border:none;
    font:inherit;
    color:#fff;
    padding:1em 2em;
    text-decoration:none;
    font-weight:bold;
    display: block;
    cursor: pointer;
    text-shadow:1px 1px  0 #647b1b;
  }

  pre.wrap{
    white-space: pre-wrap;
    word-break: break-all;
  }
}