.Request {
  flex: 4 !important;
  padding: 1em;
  position: relative;
  @media all and (max-width: 40em) {
    flex: auto !important;
    padding: 2em 0;
  }
  h2,
  h2 > pre {
    margin: 0;
  }
  .headers,
  .payload,
  pre {
    white-space: normal;
  }
  .react-json-view {
    background: white !important;
    font-family: Inconsolata, monospace !important;
    padding: 1em;
    word-break: break-all;
  }
  .delete {
    color: #db2828;
    padding: 0.25em 0.5em;
    display: inline-block;
    border-radius: 3px;
    font: inherit;
    border: 1px solid #db2828;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    &:hover,
    &:active {
      background: #db2828;
      color: #fff;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 3px #db2828;
    }
  }
}
