.Requests {
  padding: 1em;
  padding-left: 0;
  flex: 1;
  width: 300px;
  height: 100%;
  h2 {
    padding-left: 1rem;
  }
  .enter,
  .enter-done {
    transition: all 1s ease;
  }
  .soft {
    opacity: 0.5;
  }
  .enter-active {
    background: #ffcd42;
    transition: all 0.2s ease;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;

    li {
      border-bottom: 1px solid white;
      cursor: pointer;
      a {
        padding: 0.5em 1em;
        display: block;
      }
      pre {
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &:hover {
        background: #f6f6f6;
      }
      a:not(.try-it) {
        color: inherit;
      }

      &.active {
        background: #ebebeb;
        position: relative;
        &:before {
          content: "";
          display: block;
          position: absolute;
          right: -20px;
          top: 50%;
          transform: translateY(-50%);
          height: 0;
          width: 0;
          border-color: transparent transparent transparent #ebebeb;
          border-width: 10px;
          border-style: solid;
        }
      }

      a {
        text-decoration: none;
      }

      pre {
        margin: 0;
      }
      time {
        font-size: 0.7em;
      }
    }
  }
}
