.Request {
  padding: 1em;
  .headers, .payload, pre{
    font-family: Monaco;
    white-space: normal;
  }
  .react-json-view{
    background: white !important;
    font-family: Monaco, monospace !important;
    padding:1em;
    border-radius:3px;
  }
}