.Request {
  flex: 4 !important;
  padding-left: 1em;
  h2,
  h2 > pre {
    margin: 0;
  }
  .headers,
  .payload,
  pre {
    white-space: normal;
  }
  .react-json-view {
    background: white !important;
    font-family: Inconsolata, monospace !important;
    padding: 1em;
    word-break: break-all;
  }
  .delete{
    color: #DB2828;
    padding: .25em .5em;
    display: inline-block;
    border-radius: 3px;
    font: inherit;
    border: 1px solid #DB2828;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    &:hover,
    &:active{
      background: #DB2828;
      color: #fff;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 3px #DB2828;
    }
  }
}
